/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Variables */
:root {
    --font-size: 16px;
    --body-font: sans-serif;
    --heading-font: serif;
}

@media screen {
    :root {
    --link-color: #586aff;
    --link-decoration: none;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
    --text-color: #444;
    --bg-color: #EEE;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
    --text-color: #c9d1d9;
    --bg-color: #0d1117;
    }
}

@media print {
    :root {
    --text-color: #000;
    --bg-color: #fff;
    --link-color: #586aff;
    }
}

@media (monochrome: 1),
       (color: 0),
       (max-color: 0) {
    :root {
    --text-color: #000;
    --bg-color: #fff;
    --link-color: #000;
    --link-decoration: underline;
    }
}

/* General Layout and Text Styling */
body {
    color: var(--text-color);
    background-color: var(--bg-color);

    font-family: var(--body-font);
    font-size: var(--font-size);

    /* Enable for prose.
     * text-align: justify;
     * hyphens: auto;
    */

    line-height: 1.5;

    margin-top: 2em;
    margin-bottom: 2em;
}

body {
    max-width: 24cm;
    /*margin: 0 auto;*/
}

p {
    margin-bottom: 1em;
}

/* Lists */
ul, ol, dl {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: circle;
    list-style-position: outside;
}

ol {
    list-style: decimal;
    list-style-position: outside;
}

dl > dt {
    font-weight: bold;
}

dl > dt::after {
    content: ": ";
}

dl > dd {
    margin-left: 1em;
}

li.on, li.trans, li.off {
    list-style: none;
}

li.on::marker {
    content: "☑ ";
}

li.trans::marker {
    content: "⮽ ";
}

li.off::marker {
    content: "☐ ";
}

li.on > code:first-of-type,
li.trans > code:first-of-type,
li.off > code:first-of-type {
    display: none;
}

/* Tables */
table {
    margin-top: 1em;
    margin-bottom: 1em;
}

caption {
    caption-side: bottom;
    margin-top: 0.5em;
}

th, td {
    padding: 0.3em;
}

th {
    font-weight: bold;
}

/* Images */
.figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.figure p:nth-child(2) {
    margin-top: 0.5em;
}

/* Links */
a, a:visited {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

/* Table of Contents */
#table-of-contents {
    margin-bottom: 1em;
}

#table-of-contents ul,
#table-of-contents ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

#text-table-of-contents > ul,
#text-table-of-contents > ol {
    margin-left: 0;
}

#table-of-contents a,
#table-of-contents a:visited {
    text-decoration: none;
}

/* Inline Formatting */
i {
    font-style: italic;
}

b, .org-bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

sup, sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Block Elements */
pre,
code,
.org-src-container {
    font-family: monospace;
    white-space: pre;

    overflow: auto;
}

code,
.org-src-container {
    padding: .15em;
    border-radius: .4em;
}

pre code {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote, .verse {
    margin-left: 2em;
    margin-bottom: .3em;
}

.org-left,
.left {
    text-align: left;
}

.org-right,
.right {
    text-align: right;
}

.center,
.org-center {
    text-align: center;
}

hr {
    margin-top: 2em;

    border: 0.01em solid var(--text-color);

    margin-bottom: 2em;
}

.MathJax_Display {}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.3em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .875em;
}

h6 {
    font-size: .85em;
}
